.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 100px;
}

.link {
  color: var(--matcha);
  text-decoration: underline;
}

.headshot {
  width: 400px;
  height: auto;
  border-radius: 20%;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.h1 {
  font: var(--h1-font);
}

.h3 {
  font: var(--h3-font);
}

.description {
  font: var(--body-font);
}

@media screen and (max-width: 1280px) {
  .h1 {
    font-size: 48px;
  }

  .h3 {
    font-size: 20px;
  }

  .headshot {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    gap: 20px;
    margin-top: 80px;
  }

  .h1 {
    font: var(--h1-font-m);
    font-size: 40px;
  }

  .h3 {
    font: var(--body-alt-font-m);
    text-align: center;
  }

  .description {
    font: var(--body-font-m);
  }

  .headshot {
    width: 150px;
    border-radius: 50%;
  }
}
